/* general view */

.landing-page {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.landing-page .serarch-text {
  margin: 0.5rem;
  /* background-color: tan; */
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
}
.landing-page .container .search-box {
  width: 400px;
  height: 45px;
  margin: 5px;
  padding: 21px;
}

.landing-page .loading-style {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* tab view */
@media screen and (max-width: 992px) {
  .landing-page .serarch-text {
    color: white;
  }
  .landing-page .container .search-box {
    width: "400px";
    margin: "20px";
    height: "38px";
    border: "solid 1px black";
  }
}

/* mobile view */
@media screen and (max-width: 600px) {
  .landing-page .serarch-text {
    /* background-color: olive; */
    color: white;
    margin: 5px;
    width: 95%;
    padding: 0.5rem;
  }
  .landing-page .container .search-box {
    width: 240px;
    height: 44px;
    margin: -2px;
  }
}
